<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo del Hotel">
                <span>Descanso Serano</span>
            </div>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'room_list' %}">Registro de Habitaciones</a></li>
                <li><a href="{% url 'guest_list' %}">Registro de Huéspedes</a></li>
                <li><a href="{% url 'staff_list' %}">Registro de Personal</a></li>
            </ul>
        </nav>
    </header>
    <div class="container" style="background-color: #0f0f0fef;">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
