<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Descanso Sereno{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo del Hotel">
                <span>Descanso Serano</span>
            </div>
            <ul>
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'pago' %}">Reservar Habitación</a></li>
            </ul>
        </nav>
    </header>
    <div class="container" style="background-color: #0f0f0fef;">
        {% block content %}{% endblock %}
    </div>
    <footer class="encabezado">
        <div class="info">
            <p>Contacto: <a href="mailto:contacto@descansosereno.cl">contacto@descansosereno.cl</a></p>
        </div>
        <ul>
            <li><a href="{% url 'login' %}" class="btn btn-admin">Panel de Admin</a></li>
        </ul>
    </footer>    
</body>
</html>

